<h2>Create new note</h2>

<form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="title">Title</label>
        <input id="title" formControlName="title" type="text">
        <div *ngIf="noteForm.get('title')?.invalid && noteForm.get('title')?.touched">
            <small *ngIf="noteForm.get('title')?.errors?.['required']">
                "Title is a must have field"
            </small>
            <small *ngIf="noteForm.get('title')?.errors?.['minlength']">
                "Title must be at least 3 characters long"
            </small>
        </div>
    </div>


    <div>
        <label for="content">Content</label>
        <textarea id="content" formControlName="content"></textarea>
    </div>

    <div>
        <label for="categories">Categories (comma separator)</label>
        <input id="categories" formControlName="categories" type="text">
    </div>

    <button *ngIf="!noteToEdit" type="submit" [disabled]="noteForm.invalid">Create note</button>
    
    <button *ngIf="noteToEdit" type="submit" [disabled]="noteForm.invalid">Edit note</button>
</form>
